body{
    background: url(../img/fruPCz.jpg);
    margin: 0%;
    padding: 0%;
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{
    font-size: 400%;
    text-align: center;
    color:red;
    margin-top: 10px;
}
h2{
    font-size: 200%;
    text-align: center;
    color:whitesmoke;
    margin-top: -3%;
}
h3{
    font-size: 150%;
    text-align: left;
    margin-left: 25px;
    margin-top: 5%;
    color: whitesmoke;
   
}
.dhammie{
    text-align: center;
}
::placeholder{
    color: black;
}
.main input{
    width: 200px;
    height: 30px;
}
.log{
    margin-left: 15%;
    margin-top: -6%;
    margin-left: 55%;
    text-decoration: none;
}
.log a{
    text-decoration: none;
    color:white;
}
.log button:hover{
    color: yellow;
}
button{
    background:red;
    padding: 10px;
    border-radius: 3px;
    margin-top: 0px ;
    text-transform: uppercase;
    margin-left: 15px;

}
.btn a{
    text-decoration: none;
    color:white;
}
button:hover{
    cursor: pointer;
    color: white;
}
.one{
    margin-left: 40%;
}
.two{
    margin-left: 40%;
}
.three{
    margin-left: 40%;
}
h6{
    font-size: 150%;
    text-align: center;
    margin-left: 25px;
    margin-top: 5%;
    color: whitesmoke;

